/* لما اللغة تكون عربي */
.rtl {
  direction: rtl;
  text-align: right;
}

/* خلي الـ placeholder بالعربي RTL */
.rtl input::placeholder {
  direction: rtl;
  text-align: right;
}
.rtl textarea::placeholder {
  direction: rtl;
  text-align: right;
}
/* Input Wrapper Styling */
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 10px 12px;
  margin-top: 4px;
  margin-bottom: 16px;
  transition: 0.2s ease-in-out;
}

/* Default Placeholder */
input::placeholder {
  color: #8a8a8a;
  transition: color 0.2s ease-in-out;
}

/* Placeholder in Dark Mode */
.dark-mode input::placeholder {
  color: #b8c7d9; /* لون فاتح يناسب الخلفية الداكنة */
}

/* Dark Mode Input Wrappers */
.dark-mode .input-wrapper {
  border-color: #1e3a5f;
}
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration {
  display: none !important;
}

/* Edge (old + new) */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}