/* Light Mode Colors */
:root {
  --bg-main: #fafafa;
  --text-main: #000000;

  --card-bg: #ffffff;
  --card-text: #000000;

  --input-bg: #ffffff;
  --input-border: #cccccc;
}

/* Dark Mode Colors */
.dark-mode {
  --bg-main: #06131d;
  --text-main: #ffffff;

  --card-bg: #11243b;
  --card-text: #ffffff;

  --input-bg: #0d1a2b;
  --input-border: #1e3a5f;
}
