name: Frontend CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  checks:
    name: Dashboard Checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Prettier Check
        run: npm run prettier:check

      - name: ESLint
        run: npm run lint

      - name: TypeScript Check
        run: npm run tsc --noEmit

      - name: Build
        run: npm run build
